html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	border: none;
	background-color: white;
	color: black;
	size: 1.5em;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.buttonbar {
	cursor: default;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

button:hover {
	background-color: rgb(230, 230, 230);
}

button:active {
	background-color: rgb(88, 88, 88);
	color: white;
}

#app {
	display: flex;
	flex-flow: column;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#toolbar {
	flex: 0 0 auto;
	width: 100%;
}

#editor {
	flex: 1 0 auto;
	width: 100%;
	height: 0px; /* The height is managed by flex-grow */
}

.editor-line-highlight {
	background-color: rgba(255, 233, 107, 0.692);
}

.terminal-themed {
	background-color: rgb(29, 29, 29);
}

#split-handle {
	flex: 0 0 6px;
	cursor: row-resize;
}

#terminal {
	flex: 0 0 auto;
	width: 100%;
	height: 150px;
	padding: 5px;
	color: white;
}
