html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#app {
	display: flex;
	flex-flow: column;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#toolbar {
	flex: 0 0 auto;
	width: 100%;
}

#editor {
	flex: 1 0 auto;
	width: 100%;
	height: 0px; /* The height is managed by flex-grow */
}

#split-drag {
	flex: 0 0 6px;
	background-color: rgb(43, 43, 43);
	cursor: row-resize;
}

#terminal {
	flex: 0 0 150px;
	width: 100%;
	background-color: rgb(43, 43, 43);
	color: white;
}
